@import '../../styles/main.scss';

footer {
  width: 100%;
  height: 50px;

  @include d-flex;

  h3 {
    font: 500 1.2rem 'Roboto',sans-serif;

    a {
      text-decoration: none;
      color: $swatch_5;
      transition: ease-in-out .3s;

      &:hover {
        opacity: .8;
      }
    }
  }

  .whiteColor {
    color: $light;
  }
}
