<article id="container-home">
  <header id="header-top-rated-champions">
    <h1>Top Rated Champions</h1>
  </header>

  <section id="container-boxChampions">
    <div class="boxChampion">
      <h4>Aatrox</h4>
    </div>

    <div class="boxChampion">
      <h4>Aatrox</h4>
    </div>

    <div class="boxChampion">
      <h4>Aatrox</h4>
    </div>

    <div class="boxChampion">
      <h4>Aatrox</h4>
    </div>

    <div class="boxChampion">
      <h4>Aatrox</h4>
    </div>

    <div class="boxChampion">
      <h4>Aatrox</h4>
    </div>

    <div class="boxChampion">
      <h4>Aatrox</h4>
    </div>

    <div class="boxChampion">
      <h4>Aatrox</h4>
    </div>
  </section>
</article>
