<div class="backgroundChampion" *ngIf="infosChampions" [ngStyle]="{backgroundImage: 'url('+ randomImage +')'}"></div>

<article id="container-home" *ngIf="infosChampions">
  <header id="header-top-rated-champions">
    <h1>Top Rated Champions</h1>
  </header>

  <section class="container-boxChampions">
    <a routerLink='/champion/{{champion.id}}' *ngFor="let champion of infosChampions">
      <div class="boxChampion" [ngStyle]="{backgroundImage: 'url('+ champion.icon +')'}">
        <h4>{{champion.name}}</h4>
      </div>
    </a>
  </section>
</article>
